@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: Ubuntu;
  src: url("./assets/font-ubuntu-regular.ttf");
}

body {
  font-family: Ubuntu;
  overflow-x: hidden;
}

.parallax {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-areas: "stack";
}

.parallax > * {
  grid-area: stack;
  animation: parallax linear;
  animation-timeline: scroll();
}

.stars {
  --parallax-speed: 58;
}

.mountains-1 {
  --parallax-speed: 59;
}

.mountains-2 {
  --parallax-speed: 55;
}

.lake {
  --parallax-speed: 45;
}

.rocks-2 {
  --parallax-speed: 40;
}
.rocks-1 {
  --parallax-speed: 35;
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * -1vh));
  }
}



