@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: Ubuntu;
  src: url("./assets/font-ubuntu-regular.ttf");
}

body {
  font-family: Ubuntu;
  overflow-x: hidden;
}

.parallax {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-areas: "stack";
}

.parallax > * {
  grid-area: stack;
  animation: parallax linear;
  animation-timeline: scroll();
}

.stars {
  --parallax-speed: 58;
}

.mountains-1 {
  --parallax-speed: 59;
}

.mountains-2 {
  --parallax-speed: 55;
}

.lake {
  --parallax-speed: 45;
}

.rocks-2 {
  --parallax-speed: 40;
}
.rocks-1 {
  --parallax-speed: 35;
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * -1vh));
  }
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .text-hero {
    background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    filter: grayscale(1) brightness(2);
  }
}

